In [13]:
import requests
import json
import pandas as pd
import numpy as np

In [14]:
## Get Geolocations for federal states and districts
with open('C:/Users/simon/Jupyter/Covid/Dashboard/landkreise_simplify200.geojson', 'r') as read_file:
    geo_kreis = json.load(read_file)

with open('C:/Users/simon/Jupyter/Covid/Dashboard/bundeslaender_simplify200.geojson', 'r') as read_file:
    geo_land = json.load(read_file)

In [15]:
## Get population stats for federal states and districts
df_einwohner_kreis = pd.read_csv('C:/Users/simon/Jupyter/Covid/Dashboard/Einwohner_kreis.csv', encoding = 'ISO-8859-1', sep=';', dtype= {'RS': str, 'Kreis': str, 'Einwohner': int})

df_einwohner_land = pd.read_csv('C:/Users/simon/Jupyter/Covid//Dashboard/Einwohner_land.csv', encoding = 'ISO-8859-1', sep=';', dtype= {'RS': str, 'Kreis': str, 'Einwohner': int})
df_einwohner_land.head()

          Bundesland  Einwohner
0  Baden-Württemberg   11100394
1             Bayern   13124737
2             Berlin    3669491
3        Brandenburg    2521893
4             Bremen     681202

In [16]:
## Get Covid stats from RKI
covid_url = 'https://opendata.arcgis.com/datasets/dd4580c810204019a7b8eb3e0b329dd6_0.geojson'
r = requests.get(covid_url)
r.status_code

200

In [17]:
a = json.loads(r.content)
df = pd.json_normalize(a['features'])

df.head()

,type,geometry,properties.ObjectId,properties.IdBundesland,properties.Bundesland,properties.Landkreis,properties.Altersgruppe,properties.Geschlecht,properties.AnzahlFall,properties.AnzahlTodesfall,properties.Meldedatum,properties.IdLandkreis,properties.Datenstand,properties.NeuerFall,properties.NeuerTodesfall,properties.Refdatum,properties.NeuGenesen,properties.AnzahlGenesen,properties.IstErkrankungsbeginn,properties.Altersgruppe2
0,Feature,None,1,1,Schleswig-Holstein,SK Flensburg,A15-A34,M,1,0,2021-03-26T00:00:00Z,01001,"20.04.2021, 00:00 Uhr",0,-9,2021-03-22T00:00:00Z,0,1,1,Nicht übermittelt
1,Feature,None,2,1,Schleswig-Holstein,SK Flensburg,A15-A34,M,7,0,2021-03-26T00:00:00Z,01001,"20.04.2021, 00:00 Uhr",0,-9,2021-03-26T00:00:00Z,0,7,0,Nicht übermittelt
2,Feature,None,3,1,Schleswig-Holstein,SK Flensburg,A15-A34,M,1,0,2021-03-26T00:00:00Z,01001,"20.04.2021, 00:00 Uhr",0,-9,2021-03-26T00:00:00Z,-9,0,0,Nicht übermittelt
3,Feature,None,4,1,Schleswig-Holstein,SK Flensburg,A15-A34,M,1,0,2021-03-27T00:00:00Z,01001,"20.04.2021, 00:00 Uhr",0,-9,2021-03-24T00:00:00Z,0,1,1,Nicht übermittelt
4,Feature,None,5,1,Schleswig-Holstein,SK Flensburg,A15-A34,M,1,0,2021-03-27T00:00:00Z,01001,"20.04.2021, 00:00 Uhr",0,-9,2021-03-26T00:00:00Z,0,1,1,Nicht übermittelt

In [18]:
## Clean-up and data preparation
df.columns = df.columns.str.replace('properties.', '')
df = df[['IdBundesland', 'Bundesland', 'Landkreis', 'IdLandkreis', 'AnzahlFall', 'Altersgruppe', 'AnzahlTodesfall', 'Geschlecht', 'Meldedatum']]
df['Meldedatum'] = df['Meldedatum'].str.replace('T00:00:00Z', '')
df['Meldedatum'] = pd.to_datetime(df['Meldedatum'])

df = df.merge(df_einwohner_kreis, how='left', left_on='IdLandkreis', right_on='RS')
df = df.merge(df_einwohner_land, how='left', left_on='Bundesland', right_on='Bundesland') 

df_gender = pd.get_dummies(df['Geschlecht']).mul(df['AnzahlFall'],0)
df_gender.columns = ['Sex_M', 'Sex_F', 'Sex_Unbekannt']
df = df.join(df_gender)

df_age = pd.get_dummies(df['Altersgruppe']).mul(df['AnzahlFall'],0)
df = df.join(df_age)



df.drop(['RS', 'Kreis'], axis=1, inplace=True)

df.head()

,IdBundesland,Bundesland,Landkreis,IdLandkreis,AnzahlFall,Altersgruppe,AnzahlTodesfall,Geschlecht,Meldedatum,Einwohner_x,...,Sex_M,Sex_F,Sex_Unbekannt,A00-A04,A05-A14,A15-A34,A35-A59,A60-A79,A80+,unbekannt
0,1,Schleswig-Holstein,SK Flensburg,01001,1,A15-A34,0,M,2021-03-26,90164.0,...,1,0,0,0,0,1,0,0,0,0
1,1,Schleswig-Holstein,SK Flensburg,01001,7,A15-A34,0,M,2021-03-26,90164.0,...,7,0,0,0,0,7,0,0,0,0
2,1,Schleswig-Holstein,SK Flensburg,01001,1,A15-A34,0,M,2021-03-26,90164.0,...,1,0,0,0,0,1,0,0,0,0
3,1,Schleswig-Holstein,SK Flensburg,01001,1,A15-A34,0,M,2021-03-27,90164.0,...,1,0,0,0,0,1,0,0,0,0
4,1,Schleswig-Holstein,SK Flensburg,01001,1,A15-A34,0,M,2021-03-27,90164.0,...,1,0,0,0,0,1,0,0,0,0

In [56]:
df_bund = df.groupby(by=['Meldedatum']).agg({
    'AnzahlFall':'sum',
    'AnzahlTodesfall': 'sum',
    'Sex_M': 'sum',
    'Sex_F': 'sum',
    'Sex_Unbekannt': 'sum',
    'A00-A04': 'sum',
    'A05-A14': 'sum',
    'A15-A34': 'sum',
    'A35-A59': 'sum',
    'A60-A79': 'sum',
    'A80+': 'sum',
    'unbekannt': 'sum'
})


#df_bund.set_index('Region', append=True, inplace=True)
#df_bund = df_bund.swaplevel('Region', 'Meldedatum')

df_bund['Fall_Last7'] = df_bund['AnzahlFall'].rolling(min_periods=1, window=7).sum()
df_bund['Fall_MA7'] = df_bund['AnzahlFall'].rolling(7).mean()
df_bund['R7'] = (df_bund['Fall_MA7'].pct_change(periods=4) + 1).round(2)

df_bund['Einwohner'] = df_einwohner_land['Einwohner'].sum()
df_bund['Fall_100K'] = ((df_bund['Fall_Last7'] / df_bund['Einwohner']) * 100000).round(2)

df_bund.reset_index(inplace=True)
df_bund['Region'] = 'Deutschland'
df_bund['Typ'] = 'Nation'


df_bund.tail()

,Meldedatum,AnzahlFall,AnzahlTodesfall,Sex_M,Sex_F,Sex_Unbekannt,A00-A04,A05-A14,A15-A34,A35-A59,A60-A79,A80+,unbekannt,Fall_Last7,Fall_MA7,R7,Einwohner,Fall_100K,Region,Typ
432,2021-04-15,24956,23,12520,12145,291,896,2757,8121,9196,3173,777,36,142681.0,20383.000000,1.21,83166711,171.56,Deutschland,Nation
433,2021-04-16,22689,19,11407,11039,243,878,2485,7244,8452,2919,686,25,142022.0,20288.857143,1.15,83166711,170.77,Deutschland,Nation
434,2021-04-17,17152,10,8690,8251,211,741,1840,5355,6457,2253,493,13,141073.0,20153.285714,1.02,83166711,169.63,Deutschland,Nation
435,2021-04-18,8306,8,4146,4033,127,344,901,2553,3127,1084,285,12,140506.0,20072.285714,0.98,83166711,168.95,Deutschland,Nation
436,2021-04-19,6347,6,3193,3047,107,218,619,1998,2362,868,257,25,134757.0,19251.000000,0.94,83166711,162.03,Deutschland,Nation

In [57]:
df_land = df.groupby(by=['Bundesland', 'Meldedatum']).agg({
    'IdBundesland': 'first',
    'AnzahlFall': 'sum',
    'Einwohner_y': 'first',
    'AnzahlTodesfall': 'sum',
    'Sex_M': 'sum',
    'Sex_F': 'sum',
    'Sex_Unbekannt': 'sum',
    'A00-A04': 'sum',
    'A05-A14': 'sum',
    'A15-A34': 'sum',
    'A35-A59': 'sum',
    'A60-A79': 'sum',
    'A80+': 'sum',
    'unbekannt': 'sum'
})

df_land.rename(columns={'Einwohner_y': 'Einwohner'}, inplace=True)

#df_land.index.names = ['Region', 'Meldedatum']

df_land['Fall_MA4'] = df_land.groupby(level=0, group_keys=True)['AnzahlFall'].rolling(4).mean().values
df_land['Fall_MA7'] = df_land.groupby(level=0, group_keys=True)['AnzahlFall'].rolling(7).mean().values

df_land['R4'] = df_land['Fall_MA4'].pct_change(periods=4) + 1
df_land['R7'] = (df_land['Fall_MA7'].pct_change(periods=4) + 1).round(2)

df_land['Fall_Last7'] = df_land['AnzahlFall'].rolling(min_periods=1, window=7).sum()
df_land['Fall_100K'] = ((df_land['Fall_Last7'] / df_land['Einwohner']) * 100000).round(2)

#

df_land.reset_index(inplace=True)
df_land['Region'] = df_land['Bundesland']
df_land['Typ'] = 'Bundesland'

df_land.tail()

,Bundesland,Meldedatum,IdBundesland,AnzahlFall,Einwohner,AnzahlTodesfall,Sex_M,Sex_F,Sex_Unbekannt,A00-A04,...,A80+,unbekannt,Fall_MA4,Fall_MA7,R4,R7,Fall_Last7,Fall_100K,Region,Typ
6504,Thüringen,2021-04-15,16,994,2133378,2,475,516,3,26,...,65,1,922.25,811.000000,1.191153,1.15,5677.0,266.10,Thüringen,Bundesland
6505,Thüringen,2021-04-16,16,846,2133378,1,424,422,0,35,...,43,1,1020.25,788.142857,1.671171,1.08,5517.0,258.60,Thüringen,Bundesland
6506,Thüringen,2021-04-17,16,546,2133378,0,265,278,3,13,...,27,0,904.75,769.142857,1.480769,0.95,5384.0,252.37,Thüringen,Bundesland
6507,Thüringen,2021-04-18,16,274,2133378,0,133,132,9,6,...,9,1,665.00,765.000000,0.887258,0.92,5355.0,251.01,Thüringen,Bundesland
6508,Thüringen,2021-04-19,16,349,2133378,0,159,187,3,14,...,21,0,503.75,750.000000,0.546218,0.92,5250.0,246.09,Thüringen,Bundesland

In [58]:
df_kreis = df.groupby(by=['Landkreis', 'Meldedatum']).agg({
    'IdLandkreis': 'first',
    'Bundesland': 'first',
    'AnzahlFall': 'sum',
    'Einwohner_x': 'first',
    'AnzahlTodesfall': 'sum',
    'Sex_M': 'sum',
    'Sex_F': 'sum',
    'Sex_Unbekannt': 'sum',
    'A00-A04': 'sum',
    'A05-A14': 'sum',
    'A15-A34': 'sum',
    'A35-A59': 'sum',
    'A60-A79': 'sum',
    'A80+': 'sum',
    'unbekannt': 'sum'
})
    
df_kreis.rename(columns={'Einwohner_x': 'Einwohner'}, inplace=True)


#df_kreis.index.names = ['Region', 'Meldedatum']

df_kreis['Fall_MA4'] = df_kreis.groupby(level=0, group_keys=True)['AnzahlFall'].rolling(4).mean().values
df_kreis['Fall_MA7'] = df_kreis.groupby(level=0, group_keys=True)['AnzahlFall'].rolling(7).mean().values

df_kreis['R4'] = df_kreis['Fall_MA4'].pct_change(periods=4) + 1
df_kreis['R7'] = (df_kreis['Fall_MA7'].pct_change(periods=4) + 1).round(2)

df_kreis['Fall_Last7'] = df_kreis['AnzahlFall'].rolling(min_periods=1, window=7).sum()
df_kreis['Fall_100K'] = ((df_kreis['Fall_Last7'] / df_kreis['Einwohner']) * 100000).round(2)

df_kreis.reset_index(inplace=True)
df_kreis['Region'] = df_kreis['Landkreis']
df_kreis['Typ'] = 'Landkreis'

df_kreis.tail()

,Landkreis,Meldedatum,IdLandkreis,Bundesland,AnzahlFall,Einwohner,AnzahlTodesfall,Sex_M,Sex_F,Sex_Unbekannt,...,A80+,unbekannt,Fall_MA4,Fall_MA7,R4,R7,Fall_Last7,Fall_100K,Region,Typ
124889,StadtRegion Aachen,2021-04-15,05334,Nordrhein-Westfalen,130,557026.0,0,62,67,1,...,7,0,136.00,115.000000,1.502762,1.21,805.0,144.52,StadtRegion Aachen,Landkreis
124890,StadtRegion Aachen,2021-04-16,05334,Nordrhein-Westfalen,178,557026.0,0,95,83,0,...,4,0,154.00,115.714286,1.678474,1.06,810.0,145.42,StadtRegion Aachen,Landkreis
124891,StadtRegion Aachen,2021-04-17,05334,Nordrhein-Westfalen,100,557026.0,0,59,41,0,...,3,0,132.00,119.857143,1.382199,1.00,839.0,150.62,StadtRegion Aachen,Landkreis
124892,StadtRegion Aachen,2021-04-18,05334,Nordrhein-Westfalen,34,557026.0,0,17,17,0,...,4,0,110.50,122.285714,1.025522,1.10,856.0,153.67,StadtRegion Aachen,Landkreis
124893,StadtRegion Aachen,2021-04-19,05334,Nordrhein-Westfalen,67,557026.0,0,30,37,0,...,3,0,94.75,116.714286,0.696691,1.01,817.0,146.67,StadtRegion Aachen,Landkreis

In [59]:
## Final dataset
df_merged = pd.concat([df_bund, df_land, df_kreis])

## The geolocations for the districts of Berlin are not included in the dataset, 
## to have Berlin displayed on the choropleth map, I substitute the values for the federal state of Berlin.
df_merged.loc[df_merged['Bundesland'] == 'Berlin', 'IdLandkreis'] = '11000'

df_merged.tail()

,Meldedatum,AnzahlFall,AnzahlTodesfall,Sex_M,Sex_F,Sex_Unbekannt,A00-A04,A05-A14,A15-A34,A35-A59,...,Einwohner,Fall_100K,Region,Typ,Bundesland,IdBundesland,Fall_MA4,R4,Landkreis,IdLandkreis
124889,2021-04-15,130,0,62,67,1,6,15,46,43,...,557026.0,144.52,StadtRegion Aachen,Landkreis,Nordrhein-Westfalen,NaN,136.00,1.502762,StadtRegion Aachen,05334
124890,2021-04-16,178,0,95,83,0,7,16,73,58,...,557026.0,145.42,StadtRegion Aachen,Landkreis,Nordrhein-Westfalen,NaN,154.00,1.678474,StadtRegion Aachen,05334
124891,2021-04-17,100,0,59,41,0,4,5,38,35,...,557026.0,150.62,StadtRegion Aachen,Landkreis,Nordrhein-Westfalen,NaN,132.00,1.382199,StadtRegion Aachen,05334
124892,2021-04-18,34,0,17,17,0,3,2,11,8,...,557026.0,153.67,StadtRegion Aachen,Landkreis,Nordrhein-Westfalen,NaN,110.50,1.025522,StadtRegion Aachen,05334
124893,2021-04-19,67,0,30,37,0,1,6,29,26,...,557026.0,146.67,StadtRegion Aachen,Landkreis,Nordrhein-Westfalen,NaN,94.75,0.696691,StadtRegion Aachen,05334

In [60]:
df_merged.to_csv('covid_panel.csv')